<div style="padding: 2.5cm;background-image:url('/assets/images/back-addrental.jpeg')" class="container" >
  <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;color:darkcyan; " >Add your Property for Rent</h2>
  <p *ngIf="isPropertyAdded" style="color:green">Your property is added succesfully</p>
  <br><br>
  <form (ngSubmit)="addProperty(addRentalForm)" #addRentalForm="ngForm">
    <div class="form-group">
      <label for="title">Title Of Property</label>
      <input name="title" ngModel type="text" class="form-control" placeholder="Enter Title" required>
      <small id="emailHelp" class="form-text text-muted">Must Enetr the Title less than 100 letters.</small>
    </div>
    
    <div class="form-group">
      <label for="price">Price</label>
      <input name="price" ngModel type="text" class="form-control" placeholder="Enter Price" required>
      <small id="emailHelp" class="form-text text-muted">Enter the price in rupees (5000.00)</small>
    </div>

    <div class="form-group">
      <label for="locality">Locality</label>
      <input name="locality" ngModel type="text" class="form-control" placeholder="Enter Locality" required>
      <small id="emailHelp" class="form-text text-muted">Must Enetr the Title less than 100 letters.</small>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input name="description" ngModel type="text" class="form-control" placeholder="Description" required>
    </div>

    <div class="form-group">
      <label for="propertyImage">Add Images of the Property</label>
      <input (change)="selectFile($event)" type="file" class="form-control-file">
      <div class="progress">
        <div class="progress-bar bg-info" style="width:50%;"></div>
      </div>
      <p *ngIf="IsUploaded">Uploaded Successfully</p>
    </div>

    <button style="background-color:black" type="submit" [disabled]="!addRentalForm.valid" class="btn btn-primary btn-block">Submit</button>
  </form>
</div>