<br><br>
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; color:snow">
      <form style="padding: 1cm ;background-color:rgb(10, 37, 48)" (ngSubmit)="signup(signupForm)" #signupForm="ngForm" >
          <h2 style="padding: 0.2cm ; color:dodgerblue; align-content: center;">Sign Up Here</h2>
          <div class="form-group">
            <label for="InputEmail1">Email address</label>
            <input name="inputemail"  ngModel type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required autofocus="">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="inputpassword"  ngModel type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
          </div>
          <div class="form-group">
              <label for="inputdob">Date of Birth</label>
              <input name="inputdob" ngModel type="date" class="form-control" id="inputdob" required>
            </div>
            <div class="form-group">
              <label for="inputcontact">Contact Number</label>
              <input name="inputcontact" ngModel type="text" class="form-control" id="inputcontact" required>
            </div>
          
            <button [disabled]="!signupForm.valid" type="submit" class="btn btn-primary btn-block">Submit</button>
          
            Already a Member? <a style="color:cadetblue" routerLink="/auth/signin">Sign In Here</a>
            
        </form>
  </div>
</div>